@font-face {
	font-family:"Droid Arabic Naskh"; 
	src: url("../fonts/DroidNaskh-Regular.ttf"); 
} 

@font-face{
	font-family:"Vazir"; 
	src: url("../fonts/Vazir.ttf"); 
}

body {
	background-color: #77b300; 
	height: 100%; 
	width: auto; 
}

.main-container { 
	margin-left:15px; 
	margin-right:15px; 
	padding-bottom:20px; 
	background-color: #e6e600; 
	border-radius: 30px; 
}

.image-container {
	text-align:center;
}
	
p {
	margin-right:25px; 
	direction:rtl; 
	font-family:"Vazir"; 
}

.verse { 
	direction:rtl; 
	font-family:"Droid Arabic Naskh";
	font-size:18pt;
} 

.verse-container {
	margin-right:25px; 
	margin-left:25px; 
	background-color:#FFFFFF; 
	border-radius:25px; 
	text-align:center; 
}

img.resize { 
	max-height:50%; 
	max-width:50%; 
}

h1, h2, h3, h4 { 
	margin-right:15px;
	direction:rtl; 
	font-family:"Vazir"; 
}

.zarinpal { 

	text-align: center; 
}

.code { 
	direction:ltr; 
	font-family:"Vazir"; 
	font-size: 18pt; 
	background-color:#FFFFFF; 
	color: #0003ba; 
	text-align: center; 
	margin-left:25px; 
	margin-right:25px; 
	border-radius:15px;
}
